<!--
  Codice HTML per il footer.
  author: Michele Lorenzo
-->

</div>

<footer class="text-center text-lg-start bg-light text-muted">
  <div class="pt-1">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>
            <a href="http://localhost/TWeb/GitLab2/tweb/project/index.php">
              <img src="http://localhost/TWeb/GitLab2/tweb/project/images/black_logo_rounded.png" class="img-fluid w-50"
                alt="reBuy logo">
            </a>
          </h6>

          <p>
            On our site you can sell and buy used phones. 
            TWeb project 2022. 
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Best-selling brands
          </h6>

          <p>
            <span class="text-reset">Samsung</span>
          </p>

          <p>
            <span class="text-reset">OnePlus</span>
          </p>

          <p>
            <span class="text-reset">Xiaomi</span>
          </p>

          <p>
            <span class="text-reset">Huawei</span>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>

          <p>
            <i class="bi bi-house"></i> Turin, To 10141, IT
          </p>

          <p>
            <i class="bi bi-envelope"></i> michele.lorenzo@edu.unito.it
          </p>

          <p>
            <i class="bi bi-phone"></i> + 39 380 433 1509
          </p>

          <p>
            <i class="bi bi-telephone"></i> + 39 011 607 0977
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            W3C CERTIFIED
          </h6>

          <p>
            <a href="http://validator.w3.org/check/referer"> 
              <img class="w3c" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML5!">
            </a>
          </p>

          <p>
            <a href="http://jigsaw.w3.org/css-validator/check/referer">
              <img class="w3c" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS" >
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-dark p-4">
    © 2022 Copyright: Michele Lorenzo
  </div>
</footer>
</body>

</html>